<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Cadastro de Insumo</title>
</head>

<body>
    <!-- Header -->
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop">
            <nav class="d-flex">
                <a href="">DashBoard</a>
                <a href="" class="pagina-atual">Insumos</a>
                <a href="">Produtos</a>
                <a href="">Relatórios</a>
                <a href="">Configurações</a>
                <a href="">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="../static/img/perfil.png" alt="Foto de Perfil"> <!--imagem-->
                    <div>
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="card-branco card-produto">
                <h1 class="titulo-secao">Cadastro de Insumo</h1>
                <form class="form" action=""> <!--Link da rota-->
                    <div class="d-flex campo">
                        <label>Nome do Insumo</label>
                        <input class="input" type="text" id="nomeInsumo" name="nomeInsumo" required>
                    </div>
                    <div class="d-flex campo">
                        <label>Descrição</label>
                        <input class="input" type="text" id="descricao" name="descricao" required>
                    </div>
                    <div class="d-flex campo">
                        <label for="categoria">Categoria</label>
                        <select name="categoria" id="categoria" class="input">
                            <option value="bolo">Chocolate</option>
                            <option value="torta">Açúcar</option>
                            <option value="docinho">Farinha</option>
                        </select>
                        <a href="">Adicionar Categoria </a>
                    </div>

                    <div class="form-duplo">
                        <div class="d-flex campo">
                            <label>Preço de Compra</label>
                            <input class="input input-pequeno" type="text" id="preco" name="preco" required value="R$">
                        </div>
                        <div class="d-flex campo">
                            <label for="categoria">Unidade de medida</label>
                            <select name="categoria" id="categoria" class="input input-pequeno">
                                <option value="quilo">Quilograma</option>
                                <option value="grama">Grama</option>
                                <option value="litro">Litro</option>
                                <option value="ml">Mililitro</option>
                                <option value="un">Unidade</option>
                            </select>
                        </div>
                    </div>
                    <button class="bnt-claroD btn-largo" type="submit">Cadastrar</button>
                </form>
            </section>
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="/">Inicio</a> <!--Link da rota-->
                    <a href="#sobre">Sobre Nós</a> <!--Link da rota-->
                    <a href="#funcionalidades">Funcionalidade</a> <!--Link da rota-->
                    <a href="/conta">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical desktop">
            <div class="desktop">
                <div class="contato">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato">
                    <img src="../static/img/E-mail Ícone.png" alt="Email"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="../static/js/script.js"></script>
    </footer>
</body>

</html>