<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Cadastro de Insumo</title>
</head>

<body>
    <!-- Header -->
   <div class="d-flex">
        <header class="header-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+">
            <nav class="d-flex">
                <a href="">DashBoard</a>
                <a href="" class="pagina-atual">Insumos</a>
                <a href="">Produtos</a>
                <a href="">Relatórios</a>
                <a href="">Configurações</a>
                <a href="">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="card-branco" style="max-width: 50vw; padding: 20px;">
                <h1 class="titulo-secao">Cadastro de Insumo</h1>
                <form class="form" action=""> <!--Link da rota-->
                    <div>
                        <label>Nome do Insumo</label>
                        <input class="input" type="text" id="nomeInsumo" name="nomeInsumo" required>
                    </div>
                    <div>
                        <label>Descrição</label>
                        <input class="input" type="text" id="descricao" name="descricao" required>
                    </div>
                    <div class="marginB-40">
                        <label for="categoria">Categoria</label>
                        
                        <select name="categoria" id="categoria" class="input" style="margin-bottom: 0px;">
                            <option value="bolo">Chocolate</option>
                            <option value="torta">Açucar</option>
                            <option value="docinho">Farinha</option>
                        </select>
                        <a style="color: var(--claro-texto)"; href="">Adicionar Insumo </a>

                    </div>
                    
                    <div class="form-duplo">
                        <div>
                            <label>Preço de Compra</label>
                            <input class="input input-pequeno" type="text" id="preco" name="preco" required value="R$">
                        </div>
                        <div>
                        <label for="categoria">Unidade de medida</label>
                        
                        <select name="categoria" id="categoria" class="input" style="width: 250px;">
                            <option value="quilo">Quilograma</option>
                            <option value="grama">Grama</option>
                            <option value="litro">Litro</option>
                            <option value="ml">Mililitro</option>
                        </select>
                    </div>
                    </div>
                    <button class="bnt-claroD btn-largo" type="submit">Cadastrar</button>
                </form>
            </section>
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="/">Inicio</a> <!--Link da rota-->
                    <a href="#sobre">Sobre Nós</a> <!--Link da rota-->
                    <a href="#funcionalidades">Funcionalidade</a> <!--Link da rota-->
                    <a href="/conta">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/E-mail Ícone.png" alt="Email"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
    <script>
    const range = document.getElementById("lucro");
    const valor = document.getElementById("valor");

    range.addEventListener("input", () => {
    valor.textContent = range.value + "%";
    });
</script>
</html>