<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Pessoal</title>
</head>
<body>
    <header>
        <img src="" alt="Logo da UP">   <!--imagem-->
        <nav>
            <a href="/">Inicio</a>
            <a href="#sobre">Sobre Nós</a>
            <a href="#funcionalidades">Funcionalidade</a>
            <a href="/conta">Conta</a>
        </nav>
    </header>

    <main>
        <section class="cadastro_pessoal">
            <h1>Cadastro Pessoal</h1>
            <form action="">           <!--formulá<rio-->
                <div>
                    <label>Nome Completo:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label>Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div>
                    <label>Confirmar Senha:</label>
                    <input type="password" id="confirmar_senha" name="confirmar_senha" required>
                </div>
                <button type="submit">Cadastrar</button>
            </form>       

        </section>
    </main>
</body>
</html>