<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Configurações</title>
</head>

<body>
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop">
            <nav class="d-flex">
                <a href="../templates/dashboard.html">DashBoard</a>
                <a href="../templates/insumos.html">Insumos</a>
                <a href="../templates/produto.html">Produtos</a>
                <a href="../templates/relatorios.html">Relatórios</a>
                <a href="../templates/config.html" class="pagina-atual">Configurações</a>
                <a href="/logout">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="../static/img/perfil.png" alt="Foto de Perfil"> <!--imagem-->
                    <div>
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="card-branco-sem-fundo d-flex align-center space-between card-config">
                <h1>Olá, Maria</h1>
                <div class="modo">
                    <p class="espaco desktop">Alterar Tema</p>
                    <div class="d-flex align-center modo space-around">
                        <p id="modo">Claro</p>
                        <label class="switch">
                            <input type="checkbox" onclick="toggleModo()">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </section>
            <section class="card-edicao card-branco-sem-fundo d-flex align-center space-around">
                <div class="d-flex align-center space-around imagem-info">
                    <img src="../static/img/imagem-perfil.png" alt="Foto do usuário" class="img-card-branco">
                    <div class="d-flex flex-column info-usuario">
                        <div class="d-flex info-linha">
                            <p class="bold">Nome:</p>
                            <p>Maria da Silva</p>
                        </div>

                        <div class="d-flex info-linha">
                            <p class="bold">Email:</p>
                            <p>Mariadasilva@gmail.com</p>
                        </div>

                        <div class="d-flex info-linha">
                            <p class="bold">Tipo de Negócio:</p>
                            <p>Confeitaria</p>
                        </div>

                        <div class="d-flex info-linha">
                            <p class="bold">Nome do Negócio:</p>
                            <p>Doce Vita</p>
                        </div>

                        <div class="d-flex info-linha">
                            <p class="bold">Telefone:</p>
                            <p>(18) 99234-2371</p>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('editar', id=id) }}" class="bnt-claroDQ">Editar Perfil</a>
            </section>
            {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {% for category, msg in msgs %}
                {% set classe = 'erro' %}
                {% if category == 'success' %}{% set classe = 'acerto' %}{% endif %}
                {% if category == 'warning' %}{% set classe = 'aviso' %}{% endif %}

                <section class="mensagem-flash" id="msgFlash">
                    <div class="{{ classe }}">
                    <div class="d-flex x">
                        <a href="#" onclick="fecharMensagem('msgFlash')">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/X-erro.png') }}" alt="Fechar">
                        </a>
                        {% elif classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/X-acerto.png') }}" alt="Fechar">
                        </a>
                        {% endif %}
                    </div>
                    <div class="d-flex principal">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/icone-erro.png') }}" alt="Ícone">
                        {% endif %}
                        {% if classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/icone-acerto.png') }}" alt="Ícone">
                        {% endif %}
                        <div class="d-flex">
                        {% if classe == 'acerto' %}
                        <p class="titulo-acerto">{{ msg }}</p>
                        {% endif %}
                        {% if classe == 'erro' %}
                        <p class="titulo-erro">{{ msg }}</p>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                </section>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="../templates/login.html">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/whatsapp-icone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/email-icone-escuro.png" id="email" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>
</body>

</html>