<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Configurações</title>
</head>
<body>
    <div class="d-flex">
        <header class="header-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+">
            <nav class="d-flex">
                <a href="">DashBoard</a>
                <a href="">Insumos</a>
                <a href="">Produtos</a>
                <a href="">Relatórios</a>
                <a href="" class="pagina-atual">Configurações</a>
                <a href="">Sair</a>
            </nav>
        </header>
        <main class="main-usuario">
            <section class="card-branco d-flex align-center space-between">
                <h1>Olá, Maria</h1>
                <div class="modo">
                    <p class="espaco">Alterar Tema</p>
                    <div class="d-flex align-center modo space-around">
                        <p>Claro</p>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </section>
            <section class="card-branco d-flex align-center space-around">
                <img src="../static/img/imagem-perfil.png" alt="Foto do usuário" class="img-card-branco">
                <div class="d-flex flex-column info-usuario">
                    <p>Nome: <span>Maria da Silva</span></p>
                    <p>Email: <span>Mariadasilva@gmail.com</span></p>
                    <p>Tipo de Negócio: <span>Confeitaria</span></p>
                    <p>Nome do Negócio: <span>Doce Vita</span></p>
                    <p>Telefone: <span>(18) 99234-2371</span></p>
                </div>
                <a href="" class="bnt-claroDQ">Editar Perfil</a>
            </section>
        </main>
    </div>
    
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP">          <!--imagem-->
                <nav>
                    <a href="/">Inicio</a>                                                    <!-- Link da rota -->
                    <a href="#sobre">Sobre Nós</a>                                            <!-- Link da rota -->
                    <a href="#funcionalidades">Funcionalidade</a>                             <!-- Link da rota -->
                    <a href="/conta">Conta</a>                                                <!--Link da rota-->                               
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp">        <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/E-mail Ícone.png" alt="Email">           <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>