<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <!-- Basic stylesheet -->
    <link rel="stylesheet" href="../static/css/owl-carousel/owl.carousel.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../static/css/owl-carousel/owl.theme.css">
    <title>DashBoard</title>
</head>

<body>
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop">
            <nav class="d-flex">
                <a href="../templates/dashboard.html" class="pagina-atual">DashBoard</a>
                <a href="../templates/insumos.html">Insumos</a>
                <a href="../templates/produto.html">Produtos</a>
                <a href="../templates/relatorios.html">Relatórios</a>
                <a href="../templates/config.html">Configurações</a>
                <a href="../templates/index.html">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="../static/img/perfil.png" alt="Foto de Perfil"> <!--imagem-->
                    <div>
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="card-branco-sem-fundo space-between d-flex">
                <div class="d-flex flex-column space-between dashboard">
                    <h1>Dashboard</h1>
                    <p>Bem-vindo de volta! Aqui está um resumo do seu negócio.</p>
                </div>
                <div class="d-flex desktop">
                    <img src="../static/img/imagem-perfil.png" alt="Foto do usuário" class="imagem-perfil">
                    <div class="d-flex flex-column justify-center"">
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class=" d-flex space-between cards-dashboard desktop">
                        <div class="card d-flex flex-column justify-center">
                            <h3>50</h3>
                            <p>Insumos cadastrados</p>
                        </div>
                        <div class="card d-flex flex-column justify-center">
                            <h3>20</h3>
                            <p>Produtos cadastrados</p>
                        </div>
                        <div class="card d-flex flex-column justify-center">
                            <h3>R$ 10,00</h3>
                            <p>Média de lucro por produto</p>
                        </div>
            </section>
            <section class="mobile">
                <div class="carrossel owl-carousel owl-theme carrossel cards">
                    <div class="card d-flex flex-column justify-center item">
                        <h3>50</h3>
                        <p>Insumos cadastrados</p>
                    </div>
                    <div class="item card d-flex flex-column justify-center">
                        <h3>20</h3>
                        <p>Produtos cadastrados</p>
                    </div>
                    <div class="item card d-flex flex-column justify-center">
                        <h3>R$ 10,00</h3>
                        <p>Média de lucro por produto</p>
                    </div>
                </div>
            </section>

            <section class="card-branco-sem-fundo">
                <h2>Ações Rápidas</h2>
                <div class="d-flex botoes space-around acoes">
                    <a href="../templates/cad_Insumo.html" class="bnt-claroDQ">+ Novo Insumo</a>
                    <a href="../templates/cad_Produto.html" class="bnt-claroDQ">+ Novo Produto</a>
                    <a href="../templates/relatorios.html" class="bnt-claroDQ">Relatórios</a>
                </div>
            </section>
            <section class="none" id="mensagemAcerto">
                <div class="acerto">
                    <div class="d-flex x">
                        <a href="#" onclick="mensagemAcerto()"><img src="../static/img/X-acerto.png" alt="Fechar"></a>
                    </div>
                    <div class="d-flex principal">
                        <img src="../static/img/icone-acerto.png" alt="Ícone de Acerto">
                        <div class="d-flex">
                            <p class="titulo-acerto">Usuário logado com sucesso!</p>
                            <p>Preparado(a) para maximizar os seus lucros?</p>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="../templates/login.html">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/E-mail Ícone.png" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>
</body>

</html>