<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Editar de Insumo</title>
</head>

<body>
    <!-- Header -->
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop">
            <nav class="d-flex">
                <a href="../templates/dashboard.html">DashBoard</a>
                <a href="../templates/insumos.html" class="pagina-atual">Insumos</a>
                <a href="../templates/produto.html">Produtos</a>
                <a href="../templates/relatorios.html">Relatórios</a>
                <a href="../templates/config.html">Configurações</a>
                <a href="../templates/index.html">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="../static/img/perfil.png" alt="Foto de Perfil"> <!--imagem-->
                    <div>
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="card-branco card-produto">
                <h1 class="titulo-secao">Edição de Insumo</h1>
                <form class="form" action=""> <!--Link da rota-->
                    <div class="d-flex campo">
                        <label>Nome do Insumo</label>
                        <input class="input" type="text" id="nomeInsumo" name="nomeInsumo" required
                            value="Chocolate em Barra Nestle">
                    </div>
                    <div class="d-flex campo">
                        <label>Descrição</label>
                        <input class="input" type="text" id="descricao" name="descricao" required
                            value="Cobertura de Chocolate Nestle Blend Barra">
                    </div>
                    <div class="d-flex campo">
                        <label for="categoria">Categoria</label>

                        <select name="categoria" id="categoria" class="input">
                            <option value="bolo">Chocolate</option>
                            <option value="torta">Açucar</option>
                            <option value="docinho">Farinha</option>
                        </select>
                        <a href="#" onclick="adicionarCategoria()">Adicionar Categoria</a>

                    </div>

                    <div class="form-duplo" class="d-flex campo">
                        <div>
                            <label>Preço de Compra</label>
                            <input class="input input-pequeno" type="text" id="preco" name="preco" required
                                value="R$83,00">
                        </div>
                        <div>
                            <label for="categoria">Unidade de medida</label>

                            <select name="categoria" id="categoria" class="input" style="width: 250px;">
                                <option value="quilo">Quilograma</option>
                                <option value="grama">Grama</option>
                                <option value="litro">Litro</option>
                                <option value="ml">Mililitro</option>
                            </select>

                        </div>
                    </div>
                    <button class="bnt-claroD btn-largo" type="submit"><a href="../templates/insumos.html">Editar</a></button>
                </form>
            </section>
            <section class="none fundo" id="adicionarCategoria">
                <div class="absolute card-branco card-produto">
                    <a href="#" onclick="adicionarCategoria()"><img src="../static/img/voltar.png" alt="Voltar"
                            class="seta"></a>
                    <h1 class="titulo-secao">Adição de Categoria</h1>
                    <form class="lista-ingredientes">
                        <div class="d-flex categoria campo">
                            <label>Nome da Categoria</label>
                            <input class="input" type="text" id="nomeCategoria" name="nomeCategoria" required>
                        </div>
                        <button onclick="adicionarCategoria()" class="bnt-claroD bnt-pequeno"
                            type="submit"><a href="../templates/editar_Insumo.html">Adicionar</a></button>
                    </form>
                </div>
            </section>
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="../templates/login.html">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/E-mail Ícone.png" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>
</body>

</html>