<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsivo.css') }}">
    <title>Edição de Insumo</title>
    </head>

<body>
    <!-- Header -->
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo da UP+" class="desktop"></a>
            <nav class="d-flex">
                <a href="{{ url_for('dashboard') }}">DashBoard</a>
                <a href="{{ url_for('insumos', id=id) }}" class="pagina-atual">Insumos</a>
                <a>Produtos</a>
                <a>Relatórios</a>
                <a href="{{ url_for('config') }}">Configurações</a>
                <a href="/logout">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="Foto de Perfil">
                    <div>
                        <p>{{ session.get('id_usuario') }}</p>
                    </div>
                </div>
            </section>

            <section class="card-branco card-produto">
                <h1 class="titulo-secao">Edição de Insumo</h1>
                <form class="form" method="post" action="{{ url_for('editar_insumo', id=id, insumo_id=insumo_id) }}">
                    <div class="d-flex campo">
                        <label>Nome do Insumo</label>
                        <input class="input" type="text" id="nomeInsumo" name="nomeInsumo" required value="{{ insumo[1] }}">
                    </div>
                    <div class="d-flex campo">
                        <label>Descrição</label>
                        <input class="input" type="text" id="descricao" name="descricao" required value="{{ insumo[2] }}">
                    </div>

                    <div class="form-duplo">
                        <div class="d-flex campo">
                            <label>Quantidade</label>
                            <input class="input input-pequeno" type="number" id="peso_unidade" name="peso_unidade" required value="{{ insumo[3] }}" min="0.1">
                        </div>
                        <div class="d-flex campo">
                            <label for="unidade">Unidade de medida</label>
                            <select name="unidade" id="unidade" class="input input-pequeno">
                                <option value="1" {% if insumo[5] == 1 %}selected{% endif %}>Quilograma</option>
                                <option value="2" {% if insumo[5] == 2 %}selected{% endif %}>Grama</option>
                                <option value="3" {% if insumo[5] == 3 %}selected{% endif %}>Litro</option>
                                <option value="4" {% if insumo[5] == 4 %}selected{% endif %}>Mililitro</option>
                                <option value="5" {% if insumo[5] == 5 %}selected{% endif %}>Unidade</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex campo">
                        <label>Preço de Compra</label>
                        <input class="input" type="number" step=".05" id="preco" name="preco" required value="{{ insumo[4] }}" min="0.05">
                    </div>
                    <div class="d-flex campo">
                        <label>Estoque atual</label>
                        <input class="input" type="number" step=".1" id="estoque" name="estoque" required value="{{ insumo[6] }}" min="0.5">
                    </div>

                    <button class="bnt-claroD btn-largo" type="submit">Salvar</button>
                </form>
            </section>

            {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {% for category, msg in msgs %}
                {% set classe = 'erro' %}
                {% if category == 'success' %}{% set classe = 'acerto' %}{% endif %}
                {% if category == 'warning' %}{% set classe = 'aviso' %}{% endif %}

                <section class="mensagem-flash" id="msgFlash">
                    <div class="{{ classe }}">
                    <div class="d-flex x">
                        <a href="#" onclick="fecharMensagem('msgFlash')">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/X-erro.png') }}" alt="Fechar">
                        </a>
                        {% elif classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/X-acerto.png') }}" alt="Fechar">
                        </a>
                        {% endif %}
                    </div>
                    <div class="d-flex principal">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/icone-erro.png') }}" alt="Ícone">
                        {% endif %}
                        {% if classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/icone-acerto.png') }}" alt="Ícone">
                        {% endif %}
                        <div class="d-flex">
                        {% if classe == 'acerto' %}
                        <p class="titulo-acerto">{{ msg }}</p>
                        {% endif %}
                        {% if classe == 'erro' %}
                        <p class="titulo-erro">{{ msg }}</p>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                </section>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo da UP">
                <nav>
                    <a href="{{ url_for('index') }}">Inicio</a>
                    <a href="{{ url_for('index') }}">Sobre Nós</a>
                    <a href="{{ url_for('index') }}">Funcionalidade</a>
                    <a href="{{ url_for('conta') }}">Conta</a>
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="{{ url_for('static', filename='img/whatsapp-icone.png') }}" alt="Whatsapp" class="add8">
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="{{ url_for('static', filename='img/email-icone-escuro.png') }}" id="email" alt="Email" class="add9">
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/owl-carousel/owl.carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </footer>
</body>

</html>
