<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home - UP</title>
</head>
<body>
    <header>
        <img class="titulo" src="../static/img/logo2.png" alt="Logo da UP">   <!--imagem-->
        <nav>
            <a href="#banner">Inicio</a>
            <a href="#sobre">Sobre Nós</a>
            <a href="#funcionalidades">Funcionalidade</a>
            <a href="/conta">Conta</a>
        </nav>
    </header>

    <main>
        <section class="banner" id="banner">
            <img src="../static/img/logo2.png" alt="Logo da UP">      <!--imagem-->
            <h1>Gestão Simplificada para Pequenos Produtores</h1>
            <h3>Otimize sua produção e precificação com facilidade. A solução completa para confeiteiros, costureiras, lanchonetes, hortas e muito mais.</h3>
            <div>
                <button class="bnt-claroD">Saiba mais</button>
                <button class="bnt-claroD">Comece Agora!</button>
            </div>
        </section>
        <section class="sobre" id="sobre">
            <h2>Sobre a UP+</h2>
            <h3>Nossa plataforma foi desenvolvida especialmente para pequenos produtores que buscam profissionalizar e otimizar seus negócios</h3>
            <div class="icones">
                <div class="icone-texto">
                    <img src="../static/img/joia.png" alt="joia">      <!--imagem-->
                    <p>Interface intuitiva e prática, feita para que qualquer pessoa consiga usar sem complicações.</p>
                </div>
                <div class="icone-texto">
                    <img src="../static/img/sacodinheiro.png" alt="bolsa de dinheiro">     <!--imagem-->
                    <p> Precifique seus produtos de forma justa e aumente seus lucros com decisões mais inteligentes.</p>
                </div>
                <div class="icone-texto">
                    <img src="../static/img/prancheta.png" alt="prancheta">       <!--imagem-->
                    <p>Tenha controle da sua produção, estoque e finanças em um só lugar, de forma clara e rápida.</p>
                </div>
            </div>
            <button class="bnt-claroD">Comece Agora!</button>
        </section>
        <hr>
        
        <section class="funcionalidades" id="funcionalidades">
            <h2>Funcionalidades</h2>
            <h3>Na UP+, ajudamos pequenos produtores a organizar a produção e definir preços justos, tornando o negócio mais eficiente, lucrativo e competitivo.</h3>
            <div class="icones" style="gap: 0px;">
                <div class="icone-redondo">
                    <p>Planejamento e controle reduzem desperdícios.</p>
                </div>
                <div class="icone-redondo">
                    <p>Registro de custos evita prejuízos.</p>
                </div>
                <div class="icone-redondo">
                    <p>Precificação com margem valoriza o produto.</p>
                </div>
                <div class="icone-redondo">
                    <p>Diferenciação permite preço justo e crescimento.</p>
                </div>
            </div>
            <button class="bnt-claroD">Quero me Cadastrar</button>
        </section>
        <section class="depoimentos">
            <h2>Depoimentos</h2>
            <h3>Veja o que nossos usuários dizem sobre a UP+</h3>
            <div class="icones" style="gap: 30px; margin-right: 0px;">                                                      <!-- Gambiarra -->
                <div class="icone-retangulo">
                    <img src="../static/img/perfil.png" alt="perfil1">       <!--imagem-->
                    <div class="texto-depoimento">
                        <p>Felipe Lima</p>
                        <p class="p-depoimento">Eu me perdia nos custos dos meus bolos, mas com o UP+ consegui organizar tudo.</p>
                    </div>
                </div>
                <div class="icone-retangulo">
                    <img src="../static/img/perfil.png" alt="perfil2">       <!--imagem-->
                    <div class="texto-depoimento">
                        <p>Juliana Martins</p>
                        <p>Esse curso superou todas as minhas expectativas. Recomendo demais!</p>
                    </div>
                </div>
                <div class="icone-retangulo"> 
                    <img src="../static/img/perfil.png" alt="perfil3">       <!--imagem-->
                    <div class="texto-depoimento">
                        <p>Ana Souza</p>
                        <p>Meu lucro aumentou e minha rotina ficou muito mais leve!</p>
                    </div>
                </div>
            </div>
            <div class="icones" style="gap: 30px; margin-left: 0;">                                                       <!-- Gambiarra -->
                <div class="icone-retangulo">
                    <img src="../static/img/perfil.png" alt="perfil4">       <!--imagem-->
                    <div class="texto-depoimento">
                        <p>Bernardo Silva</p>
                        <p>Consegui dar mais atenção para os meus clientes.</p>
                    </div>
                </div>
                <div class="icone-retangulo">
                    <img src="../static/img/perfil.png" alt="perfil5">        <!--imagem-->
                    <div class="texto-depoimento">
                        <p>Pedro Albuquerque</p>
                        <p>O sistema é simples e direto, perfeito para quem não entende de gestão.</p>
                    </div>
                </div>
                <div class="icone-retangulo">
                    <img src="../static/img/perfil.png" alt="perfil6">         <!--imagem-->
                    <div class="texto-depoimento">
                        <p>Mariana Costa</p>
                        <p>O UP+ mudou o jeito como administro meu negócio.</p>
                    </div>
                </div>
            </div>
            <button class="bnt-claroD">Quero ser up+</button>
        </section>
        <hr>
        <section class="faq">
            <h2>Perguntas Frequentes</h2>
            <div class="perguntas">
                <div class="box-faq">
                    <p>Como funciona o sistema da UP+?</p>
                    <img src="../static/img/+.png" alt="+">               <!--imagem-->
                </div>
                <div class="box-faq">
                    <p>Como funciona o sistema da UP+?</p>
                    <img src="../static/img/+.png" alt="+">               <!--imagem-->
                </div>
                <div class="box-faq">
                    <p>Como funciona o sistema da UP+?</p>
                    <img src="../static/img/+.png" alt="+">               <!--imagem-->
                </div>
                <div class="box-faq">
                    <p>Como funciona o sistema da UP+?</p>
                    <img src="../static/img/+.png" alt="+">               <!--imagem-->
                </div>
                <div class="box-faq">
                    <p>Como funciona o sistema da UP+?</p>
                    <img src="../static/img/+.png" alt="+">               <!--imagem-->
                </div>
                <div class="box-faq">
                    <p>Como funciona o sistema da UP+?</p>
                    <img src="../static/img/+.png" alt="+">               <!--imagem-->
                </div>
            </div>
        </section>
        <section class="info">
            <div class="contatos">
                <img style="width: 285px; height: 167px" src="../static/img/logo2.png" alt="Logo da UP">          <!--imagem-->
                <div class="contato">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp">    <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato">
                    <img src="../static/img/E-mail Ícone.png" alt="Email">       <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
                <div class="contato">
                    <img src="../static/img/localizacaoicone.png" alt="localização"> <!--imagem-->
                    <p>Rua do Sucesso, nº 1234 <br>
                        Bairro das Vitórias <br>
                        São Paulo - SP</p>
                </div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8444311225893!2d-46.6559810845626!3d-23.577973068607717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c9b8b6340b%3A0xe7b8f82c14a9e2ea!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1699999999999!5m2!1spt-BR!2sbr" frameborder="0"></iframe>     <!--localização-->
                </div>
            </div>

            <div class="FaleConosco">
                <h2>Fale Conosco!</h2>
                <form class="form" action="">         <!--formulário-->
                    <div>
                        <label>Nome</label>
                        <input class="input" type="text" name="nome" required>
                    </div>
                    <div>
                        <label>Email</label>
                        <input class="input" type="email" name="email" required>
                    </div>
                    <div>
                        <label>Deixe sua sugestão, dúvida ou comentário</label>
                        <input class="input" type="text" name="mensagem" required>
                    </div>
                    <button class="bnt-claroD" type="submit">Enviar</button>
                </form>
            </div>
        </section>
    </main>
        
        <footer>
            <div class="info-footer">
                <div class="logo-footer">
                    <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP">          <!--imagem-->
                    <nav>
                        <a href="/">Inicio</a>
                        <a href="#sobre">Sobre Nós</a>
                        <a href="#funcionalidades">Funcionalidade</a>
                        <a href="/conta">Conta</a>
                    </nav>
                </div>
                <hr class="linha-vertical">
                <div>
                    <div class="contato" style="margin: 0;">
                        <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp">        <!--imagem-->
                        <p>+55 (11) 98765-4321</p>
                    </div>
                    <div class="contato" style="margin: 0;">
                        <img src="../static/img/E-mail Ícone.png" alt="Email">           <!--imagem-->
                        <p>contato@upmais.com.br</p>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copy">© 2025 - Todos os direitos reservados.</p>
        </footer>
    </body>
</html>