<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Home - UP</title>
</head>
<body>
    <header>
        <img src="" alt="Logo da UP">
        <nav>
            <a href="/">Inicio</a>
            <a href="#sobre">Sobre Nós</a>
            <a href="#funcionalidades">Funcionalidade</a>
            <a href="/conta">Conta</a>
        </nav>
    </header>

    <section class="banner">
        <img src="" alt="Logo da UP">
        <h1>Gestão Simplificada para Pequenos Produtores</h1>
        <h3>Otimize sua produção e precificação com facilidade. A solução completa para confeiteiros, costureiras, lanchonetes, hortas e muito mais.</h3>
        <div>
            <button class="bnt-claroD">Saiba mais</button>
            <button class="bnt-claroD">Comece Agora!</button>
        </div>
    </section>

    <section class="sobre" id="sobre">
        <h2>Sobre a UP+</h2>
        <h3>Nossa plataforma foi desenvolvida especialmente para pequenos produtores que buscam profissionalizar e otimizar seus negócios</h3>
        <div>
            <div>
                <img src="" alt="joia">
                <p>Interface intuitiva e prática, feita para que qualquer pessoa consiga usar sem complicações.</p>
            </div>

            <div>
                <img src="" alt="bolsa de dinheiro">
                <p> Precifique seus produtos de forma justa e aumente seus lucros com decisões mais inteligentes.</p>
            </div>

            <div>
                <img src="" alt="prancheta">
                <p>Tenha controle da sua produção, estoque e finanças em um só lugar, de forma clara e rápida.</p>
            </div>
        </div>
        <button class="bnt-claroD">Comece Agora!</button>
    </section>

    <hr>
    
    <section class="funcionalidades" id="funcionalidades">
        <h2>Funcionalidades</h2>
        <h3>Na UP+, ajudamos pequenos produtores a organizar a produção e definir preços justos, tornando o negócio mais eficiente, lucrativo e competitivo.</h3>
        <div>
            <div>
                <p>Planejamento e controle reduzem desperdícios.</p>
            </div>
            <div>
                <p>Registro de custos evita prejuízos.</p>
            </div>
            <div>
                <p>Precificação com margem valoriza o produto.</p>
            </div>
            <div>
                <p>Diferenciação permite preço justo e crescimento.</p>
            </div>
        </div>
        <button class="bnt-claroD">Quero me Cadastrar</button>
    </section>

    <section class="depoimentos">
        <h2>Depoimentos</h2>
        <h3>Veja o que nossos usuários dizem sobre a UP+</h3>
        <div>
            <div>
                <img src="" alt="perfil1">
                <p>Felipe Lima</p>
                <p>Eu me perdia nos custos dos meus bolos, mas com o UP+ consegui organizar tudo.</p>
            </div>
            <div>
                <img src="" alt="perfil2">
                <p>Juliana Martins</p>
                <p>Esse curso superou todas as minhas expectativas. Recomendo demais!</p>
            </div>
            <div>
                <img src="" alt="perfil3">
                <p>Ana Souza</p>
                <p>Meu lucro aumentou e minha rotina ficou muito mais leve!</p>
            </div>
        </div>
        <div>
            <div>
                <img src="" alt="perfil4">
                <p>Bernardo Silva</p>
                <p>Consegui dar mais atenção para os meus clientes.</p>
            </div>
            <div>
                <img src="" alt="perfil5">
                <p>Pedro Albuquerque</p>
                <p>O sistema é simples e direto, perfeito para quem não entende de gestão.</p>
            </div>
            <div>
                <img src="" alt="perfil6">
                <p>Mariana Costa</p>
                <p>O UP+ mudou o jeito como administro meu negócio.</p>
            </div>
        </div>
        <button class="bnt-claroD">Quero ser up+</button>
    </section>

    <hr>

    <section class="faq">
        <h2>Perguntas Frequentes</h2>

        <div class="perguntas">
            <div>
                <p>Como funciona o sistema da UP+?</p>
                <img src="" alt="+">
            </div>
            <div>
                <p>Como funciona o sistema da UP+?</p>
                <img src="" alt="+">
            </div>
            <div>
                <p>Como funciona o sistema da UP+?</p>
                <img src="" alt="+">
            </div>
            <div>
                <p>Como funciona o sistema da UP+?</p>
                <img src="" alt="+">
            </div>
            <div>
                <p>Como funciona o sistema da UP+?</p>
                <img src="" alt="+">
            </div>
            <div>
                <p>Como funciona o sistema da UP+?</p>
                <img src="" alt="+">
            </div>
        </div>
    </section>

    <section>
        <div class="info">
            <img src="" alt="Logo da UP">
            <div>
                <div>
                    <img src="" alt="Whatsapp">
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div>
                    <img src="" alt="Email">
                    <p>contato@upmais.com.br</p>
                </div>
                <div>
                    <img src="" alt="localização">
                    <p>Rua do Sucesso, nº 1234 <br>
                       Bairro das Vitórias <br>
                       São Paulo - SP</p>
                </div>
                <div>
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>

            <div class="FaleConosco">
                <h2>Fale Conosco!</h2>
                <form action="">
                    <div>
                        <p>Nome</p>
                        <input type="text" name="nome" required>
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="email" name="email" required>
                    </div>
                    <div>
                        <p>Deixe sua sugestão, dúvida ou comentário</p>
                        <input type="text" name="mensagem" required>
                    </div>
                    <button class="bnt-claroD" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </section>
        
        <footer>
            <div>
                <div>
                    <img src="" alt="Logo da UP">
                    <nav>
                        <a href="/">Inicio</a>
                        <a href="#sobre">Sobre Nós</a>
                        <a href="#funcionalidades">Funcionalidade</a>
                        <a href="/conta">Conta</a>
                    </nav>
                </div>
                <br>
                <div>
                    <div>
                        <img src="" alt="Whatsapp">
                        <p>+55 (11) 98765-4321</p>
                    </div>
                    <div>
                        <img src="" alt="Email">
                        <p>contato@upmais.com.br</p>
                    </div>
                </div>
            </div>
            <br>
            <p>© 2025 - Todos os direitos reservados.</p>
        </footer>
    </body>
</html>