    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transações - Solidez Capital</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>

    <!-- HEADER -->
        <div class="d-flex">
            <header class="header-usuario">
                <img src="../static/img/logo2.png" alt="Logo da UP+">
                <nav class="d-flex">
                    <a href="" class="pagina-atual">DashBoard</a>
                    <a href="">Insumos</a>
                    <a href="">Produtos</a>
                    <a href="">Relatórios</a>
                    <a href="">Configurações</a>
                    <a href="">Sair</a>
                </nav>
            </header>

            <!-- MAIN -->
            <main class="main-usuario">
            <section class="card-branco" style="max-width: 70vw;">
                <div class="d-flex space-between">
                <h1>Insumos</h1>
                <button class="btn-adicionar">+ Adicionar Novo Insumo</button>
                </div>
            </section>
            <section class="card-branco" style="max-width: 70vw;">
                <div class="tabela-insumos d-flex flex-column">
                <h2>Lista de Insumos Cadastrados</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Unidade</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Chocolate Nestlé</td>
                        <td>Chocolate</td>
                        <td>R$83,00</td>
                        <td>Kg</td>
                        <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-del">Del</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Farinha Nita</td>
                        <td>Farinha</td>
                        <td>R$5,00</td>
                        <td>Kg</td>
                        <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-del">Del</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Açúcar Refinado</td>
                        <td>Açúcar</td>
                        <td>R$6,00</td>
                        <td>Kg</td>
                        <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-del">Del</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </section>
            </main>
        </div>
        <!-- Footer -->
        <footer>
            <div class="info-footer">
                <div class="logo-footer">
                    <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP">          <!--imagem-->
                    <nav>
                        <a href="/">Inicio</a>                                                    <!-- Link da rota -->
                        <a href="#sobre">Sobre Nós</a>                                            <!-- Link da rota -->
                        <a href="#funcionalidades">Funcionalidade</a>                             <!-- Link da rota -->
                        <a href="/conta">Conta</a>                                                <!--Link da rota-->                               
                    </nav>
                </div>
                <hr class="linha-vertical">
                <div>
                    <div class="contato" style="margin: 0;">
                        <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp">        <!--imagem-->
                        <p>+55 (11) 98765-4321</p>
                    </div>
                    <div class="contato" style="margin: 0;">
                        <img src="../static/img/E-mail Ícone.png" alt="Email">           <!--imagem-->
                        <p>contato@upmais.com.br</p>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copy">© 2025 - Todos os direitos reservados.</p>
        </footer>
    
    </body>
    </html>