<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insumo</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
</head>

<body>

    <!-- HEADER -->
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop">
            <nav class="d-flex">
                <a href="../templates/dashboard.html">DashBoard</a>
                <a href="../templates/insumos.html" class="pagina-atual">Insumos</a>
                <a href="../templates/produto.html">Produtos</a>
                <a href="../templates/relatorios.html">Relatórios</a>
                <a href="../templates/config.html">Configurações</a>
                <a href="/logout">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="../static/img/perfil.png" alt="Foto de Perfil"> <!--imagem-->
                    <div>
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="card-branco-sem-fundo">
                <div class="d-flex space-between insumo">
                    <h1>Insumos</h1>
                    <a class="btn-adicionar" href="../templates/cad_Insumo.html">+ Adicionar Novo Insumo</a>
                </div>
            </section>
            <section class="card-branco-sem-fundo desktop">
                <div class="tabela-insumos d-flex flex-column">
                    <h2>Lista de Insumos Cadastrados</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Unidade</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chocolate Nestlé</td>
                                <td>Chocolate</td>
                                <td>R$83,00</td>
                                <td>Kg</td>
                                <td class="d-flex space-around botao">
                                    <a href="../templates/editar_Insumo.html" class="btn-edit">Edit</a>
                                    <form action="" method="">
                                        <button type="submit" class="btn-del">Del</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Farinha Nita</td>
                                <td>Farinha</td>
                                <td>R$5,00</td>
                                <td>Kg</td>
                                <td class="d-flex space-around botao">
                                    <a href="../templates/editar_Insumo.html" class="btn-edit">Edit</a>
                                    <form action="" method="">
                                        <button type="submit" class="btn-del">Del</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Açúcar Refinado</td>
                                <td>Açúcar</td>
                                <td>R$6,00</td>
                                <td>Kg</td>
                                <td class="d-flex space-around botao">
                                    <a href="../templates/editar_Insumo.html" class="btn-edit">Edit</a>
                                    <form action="" method="">
                                        <button type="submit" class="btn-del">Del</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="mobile insumos">
                <h2 class="h2">Lista de Insumos Cadastrados</h2>
                <div class="d-flex cards-mobile">
                    <div class="card-insumo">
                        <div class="d-flex space-between align-center">
                            <p class="card-insumo-titulo">Chocolate Nestlé</p>
                            <p>R$83,00</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-categoria.png" alt="Ícone de Categoria">
                            <p>Chocolate</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-medida.png" alt="Ícone">
                            <p>Kg</p>
                        </div>
                        <div class="d-flex botao-mobile">
                            <a href="../templates/editar_Insumo.html" class="btn-edit">Editar</a>
                            <form action="" method="">
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-insumo">
                        <div class="d-flex space-between align-center">
                            <p class="card-insumo-titulo">Farinha Nita</p>
                            <p>R$5,00</p>
                        </div>
                        <div d-flex card-insumo-imagem>
                            <img src="../static/img/icone-categoria.png" alt="Ícone de Categoria">
                            <p>Farinha</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-medida.png" alt="Ícone de Medida">
                            <p>Kg</p>
                        </div>
                        <div class="d-flex botao-mobile">
                            <a href="../templates/editar_Insumo.html" class="btn-edit">Editar</a>
                            <form action="" method="">
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-insumo">
                        <div class="d-flex space-between align-center">
                            <p class="card-insumo-titulo">Açúcar Refinado</p>
                            <p>R$6,00</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-categoria.png" alt="Ícone de Categoria">
                            <p>Açúcar</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-medida.png" alt="Ícone de Medida">
                            <p>Kg</p>
                        </div>
                        <div class="d-flex botao-mobile">
                            <a href="../templates/editar_Insumo.html" class="btn-edit">Editar</a>
                            <form action="" method="">
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        </div>
                    </div>
            </section>
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="../templates/login.html">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/whatsapp-icone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/email-icone-escuro.png" id="email" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>

</body>

</html>