<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Cadastro Pessoal</title>
</head>
<body>
    <!-- Header -->
    <header class="header-home">
        <img class="titulo" src="../static/img/logo2.png" alt="Logo da UP">   <!--imagem-->
        <nav>
            <a href="#banner">Inicio</a>                                                                  <!--Link da rota-->
            <a href="#sobre">Sobre Nós</a>                                                                <!--Link da rota-->
            <a href="#funcionalidades">Funcionalidade</a>
            <a href="/conta">Conta</a>                                                                    <!--Link da rota-->                
        </nav>
    </header>

    <!-- Main -->
    <main class="main-cadastro">
        <section class="login card-form">
            <h1 class="titulo-secao">Login</h1>
            <form class="form" action="">                                                                 <!--Link da rota-->
                <div>
                    <label>Email</label>
                    <input class="input" type="text" id="login" name="login" required>
                </div>
                <div>
                    <label>Senha</label>
                    <input class="input" type="password" id="senha" name="senha" required>
                </div>
                <button class="bnt-claroD btn-largo" type="submit">Entrar</button>
            </form>
            <div class="opcoes-login">
                <div>
                    <p>Não possui uma conta?
                    <a href="">Cadastre-se</a></p>
                </div>                                               <!--Link da rota-->
                <a href="">Esqueci minha senha</a>                                                      <!--Link da rota-->
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP">          <!--imagem-->
                <nav>
                    <a href="/">Inicio</a>
                    <a href="#sobre">Sobre Nós</a>
                    <a href="#funcionalidades">Funcionalidade</a>
                    <a href="/conta">Conta</a>
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp">        <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/E-mail Ícone.png" alt="Email">           <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>