<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Login</title>
</head>

<body>
        <!-- Header -->
    <header class="header-home" id="menu-mobile-home">
        <img class="desktop" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
        <nav>
            <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
            <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
            <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
            <a href="../templates/login.html">Conta</a> <!--Link da rota-->
        </nav>
    </header>

    <!-- Main -->
    <main>
        <section class="space-between topo-usuario mobile">
            <img src="../static/img/logo2.png" alt="Logo da UP+">
            <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-home')">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
        <div class="main-cadastro">
            <section class="login card-form">
                <h1 class="titulo-secao">Login</h1>
                <form class="form" action=""> <!--Link da rota-->
                    <div class="d-flex campo">
                        <label>Email</label>
                        <input class="input" type="text" id="login" name="login" required>
                    </div>
                    <div class="d-flex campo">
                            <label>Senha</label>
                            <div class="input d-flex input-senha-grande">
                                <input type="password" id="senha" name="senha" required>
                                <img src="../static/img/olho.png" alt="Mostrar Senha" onclick="mostrarSenha('senha')">
                                <!--imagem-->
                            </div>
                    </div>
                    <button class="bnt-claroD btn-largo" type="submit"><a href="../templates/dashboard.html">Entrar</a></button>
                </form>
                <div class="opcoes-login">
                    <div>
                        <p>Não possui uma conta?</p>
                        <a href="../templates/cadastro_pessoal.html">Cadastre-se</a>
                    </div> <!--Link da rota-->
                </div>
            </section>
            <section class="" id="mensagemErro">
                <div class="erro">
                    <div class="d-flex x">
                        <a href="#" onclick="fecharMensagem('mensagemErro')"><img src="../static/img/X-erro.png" alt="Fechar"></a>
                    </div>
                    <div class="d-flex principal">
                        <img src="../static/img/icone-erro.png" alt="Ícone de Acerto">
                        <div class="d-flex">
                            <p class="titulo-acerto">Não conseguimos te conectar</p>
                            <p>Seu email e/ou senha estão incorretos</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="../templates/login.html">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/E-mail Ícone.png" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>
</body>
</html>