<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Nova Senha</title>
</head>

<body>
    <!-- Header -->
    <header class="header-home" id="menu-mobile-home">
        <a href="{{ url_for('index') }}"><img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop"></a>
        <nav>
            <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
            <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
            <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
            <a href="{{ url_for('conta') }}">Conta</a> <!--Link da rota-->
        </nav>
    </header>

    <!-- Main -->
    <main class="main-cadastro">
        <section class="login card-form">
            <h1 class="titulo-secao">Nova Senha</h1>
            <form class="form" action=""> <!--Link da rota-->
                <div>
                    <label>Nova Senha</label>
                    <input class="input" type="password" id="novaSenha" name="novaSenha" required>
                </div>
                <div>
                    <label>Confirmar Senha</label>
                    <input class="input" type="password" id="confSenha" name="confSenha" required>
                </div>
                <button class="bnt-claroD" type="submit">Confirmar</button>
            </form>
            <div class="opcoes-login" style="margin-left:70px;">
                <a style="color: var(--claro-texto);" href="">Voltar</a></p>
            </div> <!--Link da rota-->
        </section>
        {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {% for category, msg in msgs %}
                {% set classe = 'erro' %}
                {% if category == 'success' %}{% set classe = 'acerto' %}{% endif %}
                {% if category == 'warning' %}{% set classe = 'aviso' %}{% endif %}

                <section class="mensagem-flash" id="msgFlash">
                    <div class="{{ classe }}">
                    <div class="d-flex x">
                        <a href="#" onclick="fecharMensagem('msgFlash')">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/X-erro.png') }}" alt="Fechar">
                        </a>
                        {% elif classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/X-acerto.png') }}" alt="Fechar">
                        </a>
                        {% endif %}
                    </div>
                    <div class="d-flex principal">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/icone-erro.png') }}" alt="ícone">
                        {% endif %}
                        {% if classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/icone-acerto.png') }}" alt="ícone">
                        {% endif %}
                        <div class="d-flex">
                        {% if classe == 'acerto' %}
                        <p class="titulo-acerto">{{ msg }}</p>
                        {% endif %}
                        {% if classe == 'erro' %}
                        <p class="titulo-erro">{{ msg }}</p>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                </section>
                {% endfor %}
            {% endif %}
            {% endwith %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="{{ url_for('conta') }}">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/whatsapp-icone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/email-icone-escuro.png" id="email" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>
</body>

</html>
