<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
</head>

<body>

    <!-- HEADER -->
    <div class="d-flex">
        <header class="header-usuario" id="menu-mobile-usuario">
            <a href="{{ url_for('index') }}"><img src="../static/img/logo2.png" alt="Logo da UP+" class="desktop"></a>
            <nav class="d-flex">
                <a href="{{ url_for('dashboard') }}">DashBoard</a>
                <a>Insumos</a>
                <a class="pagina-atual">Produtos</a>
                <a>Relatórios</a>
                <a href="{{ url_for('config') }}">Configurações</a>
                <a href="/logout">Sair</a>
            </nav>
        </header>

        <!-- Main -->
        <main class="main-usuario">
            <section class="space-between topo-usuario mobile">
                <div class="menu-toggle" id="menu-btn" onclick="mostrarMenu('menu-mobile-usuario')">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="d-flex perfil-usuario">
                    <img src="../static/img/perfil.png" alt="Foto de Perfil"> <!--imagem-->
                    <div>
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="card-branco-sem-fundo">
                <div class="d-flex space-between insumo">
                    <h1>Produto</h1>
                    <a class="btn-adicionar" href="../templates/cad_Produto.html">+ Adicionar Novo Produto</a>
                </div>
            </section>
            <section class="card-branco-sem-fundo desktop">
                <div class="tabela-insumos d-flex flex-column">
                    <h2>Lista de Produtos Cadastrados</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Custo</th>
                                <th>Preço</th>
                                <th>Lucro</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Brownie Tradicional</td>
                                <td>Doces</td>
                                <td>R$2,00</td>
                                <td>R$5,00</td>
                                <td>R$3,00</td>
                                <td class="d-flex space-around botao">
                                    <a href="../templates/editar_Produto.html" class="btn-edit">Edit</a>
                                    <form action="" method="">
                                        <button type="submit" class="btn-del">Del</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Brownie com Ninho</td>
                                <td>Doces</td>
                                <td>R$2,50</td>
                                <td>R$7,00</td>
                                <td>R$4,50</td>
                                <td class="d-flex space-around botao">
                                    <a href="../templates/editar_Produto.html" class="btn-edit">Edit</a>
                                    <form action="" method="">
                                        <button type="submit" class="btn-del">Del</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Pão de Mel</td>
                                <td>Doces</td>
                                <td>R$1,80</td>
                                <td>R$6,00</td>
                                <td>R$4,20</td>
                                <td class="d-flex space-around botao">
                                    <a href="../templates/editar_Produto.html" class="btn-edit">Edit</a>
                                    <form action="" method="">
                                        <button type="submit" class="btn-del">Del</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="mobile insumos">
                <h2 class="h2">Lista de Produtos Cadastrados</h2>
                <div class="d-flex cards-mobile">
                    <div class="card-insumo">
                        <div class="d-flex space-between align-center">
                            <p class="card-insumo-titulo">Brownie Tradicional</p>
                            <p>R$5,00</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-categoria.png" alt="ícone categoria">
                            <p>Doces</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <div class="d-flex card-insumo-imagem">
                                <img src="../static/img/icone-lucro.png" alt="ícone lucro">
                                <p>R$3,00</p>
                            </div>
                            <div class="d-flex card-insumo-imagem">
                                <img src="../static/img/icone-custo.png" alt="ícone custo">
                                <p>R$2,00</p>
                            </div>
                        </div>
                        <div class="d-flex botao-mobile">
                            <a href="../templates/editar_Produto.html" class="btn-edit">Editar</a>
                            <form action="" method="">
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-insumo">
                        <div class="d-flex space-between align-center">
                            <p class="card-insumo-titulo">Brownie com Ninho</p>
                            <p>R$7,00</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-categoria.png" alt="ícone categoria">
                            <p>Doces</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <div class="d-flex card-insumo-imagem">
                                <img src="../static/img/icone-lucro.png" alt="ícone lucro">
                                <p>R$2,50</p>
                            </div>
                            <div class="d-flex card-insumo-imagem">
                                <img src="../static/img/icone-custo.png" alt="ícone custo">
                                <p>R$4,50</p>
                            </div>
                        </div>
                        <div class="d-flex botao-mobile">
                            <a href="../templates/editar_Produto.html" class="btn-edit">Editar</a>
                            <form action="" method="">
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-insumo">
                        <div class="d-flex space-between align-center">
                            <p class="card-insumo-titulo">Pão de Mel</p>
                            <p>R$6,00</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <img src="../static/img/icone-categoria.png" alt="ícone categoria">
                            <p>Doces</p>
                        </div>
                        <div class="d-flex card-insumo-imagem">
                            <div class="d-flex card-insumo-imagem">
                                <img src="../static/img/icone-lucro.png" alt="ícone lucro">
                                <p>R$1,80</p>
                            </div>
                            <div class="d-flex card-insumo-imagem">
                                <img src="../static/img/icone-custo.png" alt="ícone custo">
                                <p>R$4,20</p>
                            </div>
                        </div>
                        <div class="d-flex botao-mobile">
                            <a href="../templates/editar_Produto.html" class="btn-edit">Editar</a>
                            <form action="" method="">
                                <button type="submit" class="btn-del">Deletar</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
    </section>
            {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {% for category, msg in msgs %}
                {% set classe = 'erro' %}
                {% if category == 'success' %}{% set classe = 'acerto' %}{% endif %}
                {% if category == 'warning' %}{% set classe = 'aviso' %}{% endif %}

                <section class="mensagem-flash" id="msgFlash">
                    <div class="{{ classe }}">
                    <div class="d-flex x">
                        <a href="#" onclick="fecharMensagem('msgFlash')">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/X-erro.png') }}" alt="Fechar">
                        </a>
                        {% elif classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/X-acerto.png') }}" alt="Fechar">
                        </a>
                        {% endif %}
                    </div>
                    <div class="d-flex principal">
                        {% if classe == 'erro' %}
                        <img src="{{ url_for('static', filename='img/icone-erro.png') }}" alt="ícone">
                        {% endif %}
                        {% if classe == 'acerto' %}
                        <img src="{{ url_for('static', filename='img/icone-acerto.png') }}" alt="ícone">
                        {% endif %}
                        <div class="d-flex">
                        {% if classe == 'acerto' %}
                        <p class="titulo-acerto">{{ msg }}</p>
                        {% endif %}
                        {% if classe == 'erro' %}
                        <p class="titulo-erro">{{ msg }}</p>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                </section>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="{{ url_for('index') }}">Inicio</a> <!--Link da rota-->
                    <a href="{{ url_for('index') }}">Sobre Nós</a> <!--Link da rota-->
                    <a href="{{ url_for('index') }}">Funcionalidade</a> <!--Link da rota-->
                    <a href="{{ url_for('conta') }}">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/whatsapp-icone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/email-icone-escuro.png" id="email" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>

</body>

</html>
