<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Relatórios</title>
</head>
<body>
    <div class="d-flex">
        <header class="header-usuario">
            <img src="../static/img/logo2.png" alt="Logo da UP+">
            <nav class="d-flex">
                <a href="">DashBoard</a>
                <a href="">Insumos</a>
                <a href="">Produtos</a>
                <a href="" class="pagina-atual">Relatórios</a>
                <a href="">Configurações</a>
                <a href="">Sair</a>
            </nav>
        </header>
        <main class="main-usuario">
            <section class="card-branco gap250 d-flex">
                <div class="d-flex flex-column space-between">
                    <h1>Dashboard</h1>
                    <p>Bem-vindo de volta! Aqui está um resumo do seu negócio.</p>
                </div>
                <div class="d-flex">
                    <img src="../static/img/imagem-perfil.png" alt="Foto do usuário">
                    <div class="d-flex flex-column justify-center"">
                        <p>Maria</p>
                        <p>Doce Vita</p>
                    </div>
                </div>
            </section>
            <section class="d-flex space-between cards">
                <div class="card d-flex flex-column justify-center">
                    <h3>50</h3>
                    <p>Insumos cadastrados</p>
                </div>
                <div class="card d-flex flex-column justify-center">
                    <h3>20</h3>
                    <p>Produtos cadastrados</p>
                </div>
                <div class="card d-flex flex-column justify-center">
                    <h3>R$ 10,00</h3>
                    <p>Média de lucro por produto</p>
                </div>
            </section>
            <section class="card-branco">
                <h2>Ações Rápidas</h2>
                <div class="d-flex botoes space-around">
                    <a href="" class="bnt-claroDQ">+ Novo Insumo</a>
                    <a href="" class="bnt-claroDQ">+ Novo Produto</a>
                    <a href="" class="bnt-claroDQ">Relatórios</a>
                </div>
            </section>
        </main>
    </div>
    
    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img style=" width: 130px; height: 76px;" src="../static/img/logo2.png" alt="Logo da UP">          <!--imagem-->
                <nav>
                    <a href="/">Inicio</a>                                                    <!-- Link da rota -->
                    <a href="#sobre">Sobre Nós</a>                                            <!-- Link da rota -->
                    <a href="#funcionalidades">Funcionalidade</a>                             <!-- Link da rota -->
                    <a href="/conta">Conta</a>                                                <!--Link da rota-->                               
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp">        <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" style="margin: 0;">
                    <img src="../static/img/E-mail Ícone.png" alt="Email">           <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>