<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>Confirmação de Senha</title>
</head>

<body>
    <!-- Header -->
    <header class="header-home" id="menu-mobile-home">
        <img class="desktop" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
        <nav>
            <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
            <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
            <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
            <a href="../templates/login.html">Conta</a> <!--Link da rota-->
        </nav>
    </header>

    <!-- Main -->
    <main class="main-cadastro">
        <section class="login card-form">
            <h1 class="titulo-secao">Informe sua Senha para Prosseguir</h1>
            <form class="form" action=""> <!--Link da rota-->
                <div class="d-flex campo">
                    <label>Senha</label>
                    <input class="input" type="password" id="novaSenha" name="novaSenha" required>
                </div>
                <div class="d-flex campo">
                    <label>Confirmar Senha</label>
                    <input class="input" type="password" id="confSenha" name="confSenha" required>
                </div>
                <button class="bnt-claroD" type="submit">Confirmar</button>
            </form>
            <div class="opcoes-login" style="margin-left:70px;">

            </div> <!--Link da rota-->
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="info-footer">
            <div class="logo-footer">
                <img class="add5" src="../static/img/logo2.png" alt="Logo da UP"> <!--imagem-->
                <nav>
                    <a href="../templates/index.html">Inicio</a> <!--Link da rota-->
                    <a href="../templates/index.html">Sobre Nós</a> <!--Link da rota-->
                    <a href="../templates/index.html">Funcionalidade</a> <!--Link da rota-->
                    <a href="../templates/login.html">Conta</a> <!--Link da rota-->
                </nav>
            </div>
            <hr class="linha-vertical">
            <div>
                <div class="contato" class="add6">
                    <img src="../static/img/WhatsApp Ícone.png" alt="Whatsapp" class="add8"> <!--imagem-->
                    <p>+55 (11) 98765-4321</p>
                </div>
                <div class="contato" class="add6">
                    <img src="../static/img/E-mail Ícone.png" alt="Email" class="add9"> <!--imagem-->
                    <p>contato@upmais.com.br</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">© 2025 - Todos os direitos reservados.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/js/owl-carousel/owl.carousel.js"></script>
        <script src="../static/js/script.js"></script>
    </footer>
</body>

</html>